[project]
	description = This repo is for demonstration purposes only. Comments and issues may or may not be responded to.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/smilingjason
[access "refs/for/refs/*"]
	read = group user/smilingjason
	push = group user/smilingjason
	label-Code-Review = -2..+2 group user/smilingjason
	label-Verified = -1..+1 group user/smilingjason
	rebase = group user/smilingjason
	removeReviewer = group user/smilingjason
	submit = group user/smilingjason
[access "refs/heads/*"]
	read = group user/smilingjason
	create = group user/smilingjason
	push = +force group user/smilingjason
	pushMerge = group user/smilingjason
[access "refs/tags/*"]
	push = +force group user/smilingjason
	pushTag = group user/smilingjason
	pushSignedTag = group user/smilingjason
